.DS_Store
.reify-cache

node_modules
npm-debug.log

client/data

public/*-bundle.js*
public/style.css*
public/components.css*
public/wp-images
public/fonts
public/blind-polyfill.js

cordova/www
cordova/platforms
cordova/plugins

*.sublime-workspace

*.apk