body {
	margin: 0;
	overflow-x: hidden;
	background: #eaedf1; 
	color: #333;
	line-height: 1.5;
	font-size: 16px;
}
@media (max-width: 600px) {
	body {
		font-size: 14px;
	}
}

#target {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

a {
	word-break: break-word;
}

/* cribbed from wikipedia */
a[href^='http'], a[href^='//'] {
	background-position: center right;
	background-repeat: no-repeat;
	background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
	padding-right: 13px;
} 

@import "colors";

.content {
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

p {
	margin: 20px 0;

	.expand {
		margin-top: -25px;
		margin-bottom: -25px;
	}
}

p + .expand {
	margin-top: 30px;
}

.expand + p{
	margin-bottom: 30px;
}

p:nth-child(even) {
	.expand {
		background: #fff !important;
	}
}

blockquote {
	border: 2px solid #2c3b70;
	font-style: italic;
	margin: 0 0 0 20px;
	padding: 20px;
}

/* image alignment */
img.aligncenter {
	margin: 0 auto;
}
img.alignright {
	float: right;
}
img.alignleft {
	float: left;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
img.size-stretch { width: 100%; }
img.size-50 { width: 50%; }
img.size-65 { width: 65%; }
img.size-80 { width: 80%; }
img.size-90 { width: 90%; }
