body {
	margin: 0;
	overflow-x: hidden;
	background: #eaedf1; 
}
#target {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

/* cribbed from wikipedia */
a[href^='http'] {
	background-position: center right;
	background-repeat: no-repeat;
	background-image: linear-gradient(transparent,transparent),url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2212%22 height=%2212%22%3E %3Cpath fill=%22%23fff%22 stroke=%22%2336c%22 d=%22M1.5 4.518h5.982V10.5H1.5z%22/%3E %3Cpath fill=%22%2336c%22 d=%22M5.765 1H11v5.39L9.427 7.937l-1.31-1.31L5.393 9.35l-2.69-2.688 2.81-2.808L4.2 2.544z%22/%3E %3Cpath fill=%22%23fff%22 d=%22M9.995 2.004l.022 4.885L8.2 5.07 5.32 7.95 4.09 6.723l2.882-2.88-1.85-1.852z%22/%3E %3C/svg%3E");
	padding-right: 13px;
} 

@import "colors";
	
.app {
	.header {
		font-family: sans-serif;
		font-size: x-large;
		font-weight: bold;

		a, a:link, a:visited {
			color: $blue1;
			text-decoration: none;
		}
	}
}

$bodyPadding: 16px;
$containerWidth: 800px;
$containerPadding: 16px;

.content {
	margin-left: auto;
	margin-right: auto;
	padding: 0 $containerPadding;
}
@media (max-width: 400px) {
	.content {
		padding-left: calc($containerPadding / 2);
		padding-right: calc($containerPadding / 2);
	}
}
@media (max-width: 350px) {
	.content {
		padding-left: 0;
		padding-right: 0;
	}
}