/*h2 {
	display: none;
}

ul.answer-links {
	padding: 0;
	list-style-type: none;
}

ul.answer-links li {
	padding: 8px 0;
	display: flex;
}

ul.answer-links a {
	text-align: center;
	padding: 8px;
	border: 2px solid black;
	width: 100%;
} 

.decision-footer {
	font-size: smaller;
	border: 1px solid gray;
	padding: 0 8px;
}
.decision-footer p {
	margin: 8px 0;
}*/