$blue1: #7580AA;
$blue2: #4c5a8d;
$blue3: #2c3b70;
$blue4: #152253;
$blue5: #061137;

$yellow1: #E6C797;
$yellow2: #bc965d;
$yellow3: #997339;
$yellow4: #75941c;
$yellow5: #503305;

$red1: #E59A98;
$red2: #bb615e;
$red3: #973d3b;
$red4: #7a211f;
$red5: #520907;


$width: 1242;
$height: 1959;
$viewport_height: 2130; /* this number doesn't make sense, but it works okay */

$home_ar: $width/$height;
$viewport_ar: $width/$viewport_height;